.ab_security_1 { 
  background-color: #ff9900; 
}

.ab_security_2 { 
  background-color: #0066ff; 
}

.ab_security_3 { 
  background-color: #9900cc; 
}

.ab_security_4 { 
  background-color: #804000; 
}

.ab_security_5 { 
  background-color: #ff3300; 
}
